/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
body {
  font-family: "Inter", sans-serif;
  background: radial-gradient(circle at 50% 0, rgba(131, 58, 180, 0.1), rgba(0, 0, 255, 0) 50%), radial-gradient(circle at 0% 40%, rgba(150, 26, 26, 0.2), rgba(255, 0, 0, 0) 30%), #0e1014;
  color: #E4E5EA;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  body {
    background: #0e1014;
  }
}

.wrapper {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0;
  }
}

a {
  color: #E4E5EA;
}

.header {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding-top: 46px;
}

.header-logo__label {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 300;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .header-logo {
    display: none;
  }
  .header {
    background-color: #0e1014;
    margin-top: 0;
    justify-content: center;
    padding: 20px 0;
  }
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-top: 93px;
  margin-bottom: 67px;
  width: 100%;
}

.main-header__title {
  font-size: 48px;
  margin-bottom: 40px;
}

.main-header__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.main-header__accent {
  font-weight: 900;
  background-color: #E4E5EA;
  background-image: linear-gradient(135deg, #FCB045 35%, #FF3F78);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.offers-block {
  text-align: right;
  padding-top: 10px;
}

.offers-title {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
}

.offers__list-desktop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  margin-bottom: 60px;
}

.offers__list-mobile {
  display: none;
}

.offers__item-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

.offers-title__accent {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  background-color: #E4E5EA;
  background-image: linear-gradient(90deg, #FCB045 20%, #FD1D1D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.offers__item-subtitle {
  font-family: "Montserrat", sans-serif;
}

.offers__button {
  max-width: 262px;
  background-color: #4077F3;
  font-weight: 500;
  padding: 20px 35px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main {
    backdrop-filter: blur(4px);
    background: radial-gradient(circle at 100%, rgba(131, 58, 180, 0.2), rgba(0, 0, 255, 0) 80%), radial-gradient(circle at 0% 100%, rgba(150, 26, 26, 0.2), rgba(255, 0, 0, 0) 80%), radial-gradient(circle at 0% 0%, rgba(255, 246, 233, 0.1), rgb(0, 0, 0) 70%), #0e1014;
    flex-direction: column;
    gap: 48px;
    padding: 40px 15px;
    margin: 0;
  }
  .main-header__title {
    font-size: 36px;
    margin-bottom: 25px;
  }
  .offers-block {
    padding-top: 0;
    text-align: left;
  }
  .offers-title {
    margin-bottom: 20px;
  }
  .offers-title__accent {
    text-transform: none;
    background-image: linear-gradient(90deg, #FCB045 70%, #FD1D1D);
  }
  .offers__list-desktop {
    display: none;
  }
  .offers__list-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }
  .offers__list-mobile li {
    display: flex;
  }
  .offers__list-mobile li:before {
    content: "";
    width: 10px;
    height: 1px;
    display: inline-block;
    align-self: center;
    background-color: #E4E5EA;
    background-image: linear-gradient(90deg, #FCB045 30%, #FD1D1D);
    margin-right: 5px;
  }
  .offers__button {
    display: none;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 20px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 37px;
}

.footer-title {
  font-size: 14px;
  color: #656566;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__about-item {
  margin-bottom: 8px;
}

.footer-el:last-child {
  text-align: right;
}

.footer__menu {
  max-width: 430px;
}

.footer__menu-list {
  display: flex;
  flex-wrap: wrap;
}
.footer__menu-list li {
  width: 50%;
  margin-bottom: 8px;
}

.footer__menu-item.desktop {
  display: block;
}

.footer__menu-item.mobile {
  display: none;
}

.footer__contacts-item {
  margin-bottom: 18px;
}

.footer__contacts__socials-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 8px;
}

.footer__privacy {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .footer {
    background-color: #0e1014;
    padding: 40px 15px 60px 15px;
  }
  .footer li {
    margin-bottom: 13px;
    font-size: 14px;
  }
  .footer__row {
    flex-direction: column;
    gap: 28px;
  }
  .footer-title {
    font-size: 12px;
    font-weight: bold;
  }
  .footer-el {
    text-align: left;
  }
  .footer-el:last-child {
    text-align: left;
  }
  .footer__menu-item.mobile {
    display: block;
  }
  .footer__menu-item.desktop {
    display: none;
  }
  .footer__contacts__socials-list {
    justify-content: start;
  }
  .footer__contacts__socials-list li {
    margin-bottom: 0;
  }
  .footer__privacy {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-align: left;
  }
}
.nav-list {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
}

.nav-list__item {
  margin-right: 30px;
}
.nav-list__item:last-child {
  margin-right: 50px;
}

@media (max-width: 1055px) {
  .nav-list__item:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .nav-list__item {
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 15px;
  }
  .nav-list__item:last-child {
    display: none;
  }
  .nav-list__item:nth-last-child(2) {
    margin-right: 0;
  }
}
.contacts-list {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
}

.contacts-list__item {
  margin-right: 30px;
}
.contacts-list__item:last-child {
  margin-right: 0;
}
.contacts-list__item:first-child {
  margin-right: 47px;
}

@media (max-width: 1055px) {
  .header-contacts {
    display: none;
  }
}
.big-red-ball {
  position: absolute;
  top: 60px;
  left: 520px;
}

.purple-ball {
  position: absolute;
  left: 850px;
}

.small-red-ball {
  position: absolute;
  left: 820px;
  top: 500px;
}

@media (max-width: 950px) {
  .purple-ball {
    display: none;
  }
  .small-red-ball {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .big-red-ball {
    display: none;
  }
  .purple-ball {
    display: block;
    filter: blur(5px);
    z-index: 456;
    top: 300px;
    left: 280px;
    overflow: hidden;
  }
  .purple-ball svg {
    width: 50px;
  }
  .small-red-ball {
    overflow: hidden;
    filter: blur(5px);
    z-index: 456;
    top: 470px;
    left: 10px;
    display: block;
  }
}

/*# sourceMappingURL=index.css.map */
