.nav-list{
  display: flex;
  flex-direction: row;
  padding-top: 3px;
}

.nav-list__item{
  margin-right: 30px;
  &:last-child{
    margin-right: 50px;
  }
}

@media (max-width: 1055px){
  .nav-list__item{
    &:last-child{
      margin-right: 0;
    }
  }
}

@include mediaMobile{
  .nav-list__item{
    text-transform: uppercase ;
    font-size: 12px;
    margin-right: 15px;
    &:last-child{
      display: none;
    }
    &:nth-last-child(2){
          margin-right: 0;
   }
  }
}