//Fonts

$font-main: 'Inter', sans-serif;
$font-accent: 'Montserrat', sans-serif;


//Colors

$color-main: #E4E5EA;
$color-interact: #4077F3;
$color-footer-title: #656566;
$color-background: #1E1E1E;
$dark-bg: #0e1014;
$gradient-purple: #833ab4;
$gradient-red: #961A1A;
$black: #000000;


//Media
$mobile: 768px;